.speech{font-family: 'Times New Roman';font-size: 22px;color: black;}
#direction{
    font-family: 'Times New Roman';font-size: 22px;color: black;background-color: yellow;
}
#direction:hover{
    background-color: aqua ;color: red;
}
.MRSX{
    color: blue;
}
.MISSY{
    color: pink;
}
.name{

}
















table,tr,td,th{
    border-collapse: collapse;
    border: 3px;
    color: purple;
    text-align: center;
    padding-right: 3px;
    border-style: solid;
    margin-right: auto;
    margin-left: auto;
    padding:20px;
}
tr:nth-child(even){
    background-color: orange;
}
.MISSY:hover{
    color: brown;
    background-color: aqua;
    text-shadow: 1px 2px 2px sandybrown;
    border-style: solid;
}
.MRSX:hover{
    color: blueviolet;
    text-shadow: 1px 2px 2px purple;
    border-style: solid;
}
ul.navbar-horizontal {
    display:block;
    padding: 100%;
    color:chartreuse
}

ul.navbar-horizontal {
    /* remove these */
    list-style-type:none;
    margin: 12px;
    padding: 12px;}

ul.navbar-horizontal li {
    float:left;
    background-color:bisque;
}

ul.navbar-horizontal a {
    display:block;
    padding: 10px;
}

/* on hover change the link color*/
ul.navbar-horizontal a:hover {
    color:coral;
}

.image {
    width: 32%;
}
